#body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(189, 144, 231);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(256, 53%, 26%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;  
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(268, 79%, 26%);
    color: white;
}
#keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(266, 88%, 60%);
    Color: rgb(253, 253, 253);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer; 
}
button:hover{
    background-color:hsl(266, 88%, 42%);
}
button:active{
    background-color:hsl(266, 88%, 50%);
}
.operator-btn{
    background-color:hsl(298, 67%, 42%);
}
.operator-btn:hover{
    background-color:hsl(298, 67%, 50%);
}
.operator-btn:active{
    background-color:hsl(35, 64%, 18%);
}
.Cetered-Text{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}